$ligthGreen: #45b0ee;
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Make the main app container grow to take up space */
.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 4px;
  outline: none;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
.inputText{
  height: 250px;
  .editor{
    height: 170px;
  }
}
.chat-window {
  border: 1px solid #ccc;
  height: 400px;
  overflow-y: scroll;
  padding: 10px;
  margin-bottom: 10px;
}

.user-message {
  text-align: right;
  color: blue;
}

.bot-message {
  text-align: left;
  color: green;
}

input {
  width: 80%;
  padding: 10px;
  margin-right: 5px;
}

button {
  padding: 10px;
}
