@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar, footer {
  background-color: transparent;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 4px;
  outline: none;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.inputText {
  height: 250px;

  .editor {
    height: 170px;
  }
}

.chat-window {
  border: 1px solid #ccc;
  height: 400px;
  overflow-y: scroll;
  padding: 10px;
  margin-bottom: 10px;
}

.user-message {
  text-align: right;
  color: blue;
}

.bot-message {
  text-align: left;
  color: green;
}

input {
  width: 80%;
  padding: 10px;
  margin-right: 5px;
}

button {
  padding: 10px;
}

.chatbot-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  max-width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

  &.open {
    transform: translateY(0);
  }

  &:not(.open) {
    transform: translateY(calc(100% - 40px));
  }

  .chatbot-header {
    background: #007bff;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-align: center;
  }

  .chatbot-body {
    display: flex;
    flex-direction: column;
    height: 400px;

    .chatbox {
      flex: 1;
      padding: 10px;
      overflow-y: auto;

      .message {
        margin-bottom: 10px;
        &.me {
          text-align: right;
          color: blue;
        }
        &.bot {
          text-align: left;
          color: green;
        }
      }
    }

    input {
      border: none;
      border-top: 1px solid #ccc;
      padding: 10px;
      flex: 0;
    }

    button {
      background: #007bff;
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      flex: 0;
    }
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.rtl-input, .rtl {
  direction: rtl;
}

.flex.rtl {
  direction: rtl;
  justify-content: flex-end;
}

/* Dark mode styles */
:root {
  --color-background-light: #f7fafc; /* Light background color */
  --color-background-dark: #1a202c; /* Dark background color */
  --color-text-light: #000000; /* Light text color */
  --color-text-dark: #ffffff; /* Dark text color */
}

html.dark {
  --color-background: var(--color-background-dark);
  --color-text: var(--color-text-dark);
}

html.light {
  --color-background: var(--color-background-light);
  --color-text: var(--color-text-light);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

.navbar, footer {
  background-color: transparent;
}

.dark .modal {
  background: var(--color-background-dark);
  color: var(--color-text-dark);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.dark .overlay {
  background-color: rgba(0, 0, 0, 0.85);
}

.dark .chat-window {
  border-color: #444;
}

.dark .user-message {
  color: #a0aec0;
}

.dark .bot-message {
  color: #f56565;
}

.dark .chatbot-widget {
  background: #2d3748;
  border-color: #4a5568;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
}

.dark .chatbot-header {
  background: #2b6cb0;
}

.dark .chatbot-body {
  border-color: #4a5568;
}

.dark .chatbot-body button {
  background: #2b6cb0;
}

.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: #2d3748;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #718096;
}


.toggle {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Start on the left */
  width: 50px;
  height: 25px;
  background-color: #ddd;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 3px;
}

.toggle.dark {
  justify-content: flex-end; /* Move to the right in dark mode */
  background-color: #555;
}

.toggle i {
  color: #f1c40f; /* Default color */
  transition: transform 0.3s, color 0.3s;
}

.toggle .fa-sun {
  color: #f39c12;
}

.toggle .fa-moon {
  color: #f1c40f;
}



.carousel-container {
  position: relative;
  width: 100%;
  max-width: 300;
  margin: auto;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel-item {
  transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out, filter 0.1s ease-in-out;
  transform-origin: center;
}

.carousel-item.inactive {
  transform: scale(0.9);
  opacity: 0.1;
}

.carousel-item.active {
  transform: scale(1.05);
  opacity: 1;
}

.post {
  transition: transform 0.1s ease-in-out, z-index 0.1s ease-in-out;
  border-radius: 8px; /* Rounded edges for all exercises */
}
